<p>first works!</p>
<style>
    table, th, td {
      border: 1px solid black;
    }
    </style>
<table>
    <thead>
      <tr >
          <th>Id</th>
          <th>Name</th>
          <th>Username</th>
          <th>Email</th>
         <th>Latitude</th>
          <th>Longitude</th>
          <th>Company name</th>
         
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of data">
          <td>{{d.id}}</td>
          <td>{{d.name}}</td>
          <td><button  (click)="onSave(d.username)" >{{d.username}}</button></td>
          <th>{{d.email}}</th>
         <!--  <td>{{d.geo.lat}}</td>
         <td>{{d.geo.lng}}</td>
          <td>{{d.cpmpany.name}}</td>-->
        
                
       </tr>
      
    </tbody>
  </table>
